.detail-container header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 0;
  padding-top: 30px;
}

.detail-container header img:first-child {
  width: 24px;
}

.detail-container header img:last-child {
  width: 100px;
}

.detail-container .location {
  width: 100px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 30px;
}

.detail-container .temp {
  position: relative;
  width: 100px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 96px;
  line-height: 115px;
}

.detail-container .weather-index-list {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.detail-container .weather-index {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 78px;
  height: 34px;
  padding: 0 10px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.detail-container .weather-index.precip {
  background-color: rgba(101, 142, 217, 0.1);
  color: #658ED9;
}

.detail-container .weather-index.humidity {
  background-color: rgba(216, 97, 145, 0.1);
  ;
  color: #D86191;
}

.detail-container .weather-index.wind-speed {
  background-color: rgba(94, 79, 193, 0.1);
  color: #5E4FC1;
}

.detail-container .weather-index img {
  width: 24px;
}

.detail-container .chart-title {
  margin: 16px 0;
  padding-left: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.detail-container .temp::after {
  content: '°C';
  position: absolute;
  top: 40px;
  right: -8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 17px;
  color: #332821;
}

.temp-chart-container {
  width: 100%;
  text-align: center;
  /* overflow-x: scroll; */
}

#temp-chart {
  margin: 0 auto;
  /* display: inline-block; */
  width: 100%;
  height: 88px;
}

.detail-container .hour-list {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.detail-container .hour-list::-webkit-scrollbar {
  display: none;
}

.detail-container .hour-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  padding: 30px 60px;
}


.detail-container .hour-block .temp {
  position: relative;
  width: fit-content;
  margin-left: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.detail-container .hour-block .temp::after {
  content: '°C';
  position: absolute;
  top: 10px;
  right: -12px;
  font-weight: 500;
  font-size: 14px;
  color: #332821;
}

.detail-container .hour-block .time {
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(51, 40, 33, 0.5);
}


.detail-container .week-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 36px;
}

.detail-container .week-block .max-temp {
  position: relative;
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
}

.detail-container .week-block .min-temp {
  position: relative;
  width: fit-content;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  color: rgba(51, 40, 33, 0.5);
}

.detail-container .week-block .temp-list span::after {
  content: '°C';
  position: absolute;
  top: 4px;
  right: -8px;
  font-weight: 500;
  font-size: 10px;
  color: #332821;
}

.detail-container .week-block .temp-list .min-temp::after {
  color: rgba(51, 40, 33, 0.5);
}

.detail-container .week-block .time {
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #332821;
}